

{% extends 'base.html' %}



{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <div class="login-container">
        <div class="overlayed">
            <div class="login-area">
                <div class="container">
                    <form method="POST">
                        <label for="tech">Tecnología</label>
                        <select id="tech" name="item_id">
                            <option value="0">Seleccione una tecnología</option>
                            {% for entry in techs %}
                                <option value="{{ entry.pk }}">{{ entry.fields.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}







