{% load static %}

<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <title>Catálogo CONECTATE</title>
    <!-- add bootstrap css file -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %} ">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% if user.is_authenticated %}
        <script>
            window.authenticated = "true";
            window.user = '{{ user.username }}';
            window.userId = '{{ user.pk }}'
        </script>
    {% endif %}


</head>


<body>


	<!-- navbar -->

	<nav class="navbar navbar-expand-lg fixed-top ">
		<a class="navbar-brand" href="{% url 'catalogo:index' %}">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                {% if user.is_authenticated %}
                    <li><a class="nav-link" data-value="about" href="{% url 'catalogo:index' %}">{{ user.username }}</a></li>
                    <li><a class="nav-link" data-value="about" href="{% url 'catalogo:logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" data-value="about" href="{% url 'catalogo:crearTutorial' %}">Agregar Tutorial</a></li>
                    <li class="nav-item"><a class="nav-link" data-value="about" href="{% url 'catalogo:crearEjemplo' %}">Agregar Ejemplo</a></li>
                    <li class="nav-item"><a class="nav-link" data-value="about" href="{% url 'catalogo:crearEstrategia' %}">Agregar Estrategia</a></li>
                    <li class="nav-item"><a class="nav-link" data-value="about" href="{% url 'catalogo:crearHerramienta' %}">Agregar Herramienta</a></li>
                    <li class="nav-item"><a class="nav-link" data-value="about" href="{% url 'catalogo:crearDesarrollo' %}">Agregar Desarrollo</a></li>

                {% else %}
                    <!-- <li><a class="nav-link" data-value="about" href="{% url 'catalogo:addUser' %}">Registro</a></li> -->
                    <li><a class="nav-link" data-value="about" href="{% url 'catalogo:login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>

	</nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- header -->
	{% block content %}
    {% endblock %}




    <script type="text/javascript" src='{% static '/js/main.js' %}'></script>


</body>