{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/estrategia.css' %}">




    <div class="container" style="padding: 100px ">
    <h1>Nueva desarrollo</h1>

    <div class="estrategia">

            <div class="form-group">
                <label for="name">Nombre de la estrategia</label>
                <input type="text" id="name" class="form-control form-control-lg" placeholder="" maxlength="30"
                                                   name="username" value="">
            </div>
            <div class="form-group">
                    <label for="description">Descripción:</label>
                    <textarea class="form-control" rows="5" id="description" maxlength="150"></textarea>
            </div>





    </div>

    <h1>Imagenes</h1>
     <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Agregar imagen...</span>
        <input id="imgInp" type="file" class="upload-button">
    </span>




        <div class="images" style="display: flex;flex-wrap:wrap; justify-content:center">


        </div>





        <div id="files" class="files"></div>

        <button  onclick="sendData()" class="btn btn-outline-secondary btn-lg btn-block main-button">Guardar Estrategia</button>

        </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Campos incompletos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="listaErrores">

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>

      </div>
    </div>
  </div>
</div>

    <div id="snackbar">Guardando...</div>
        <script type="text/javascript">
        /*
            for(var i=0;i<8;i++){
                var del='../../static/images/delete.svg';
                     var temp='<div class="card"><img class="img-preview" src="https://cdn.dopl3r.com/memes_files/carl-de-los-simpson-plantilla-8W5Pr.jpg">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>\n' +
                         '            <div  class="card"><img class="img-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYldI6HERUkLWu_3R9gy9wa6b5-sSehUwh75vc7Whayc2XbGxGOA">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>'



                    $(".images").append($(temp));
            }
    */
            function  send(file,preset,cb) {
                var formData = new FormData();
                formData.append('upload_preset',preset);
                formData.append('file',file);
                 var xhr = new XMLHttpRequest();
                xhr.onload = cb;

                xhr.addEventListener("progress",function (evt) {
                     console.log("progress",evt);
                     if(evt.lengthComputable){
                        var percentage= (evt.loaded/evt.total) * 100 ;
                        console.log("pro",percentage);
                    }
                },false)


                xhr.open("post", "https://api.cloudinary.com/v1_1/hn6nvsi2y/image/upload");

                xhr.send(formData);


            }

            function deletePhoto(i){
                urls[i]=null;
                $(".images #preview-"+i).remove();
            }

            function addImage(src,file) {
                var value={src: src, file: file};
                urls.push(value);
                var i=urls.length-1;
                var del='../../static/images/delete.svg';
                var itemBox ='<div class="card" id="preview-'+i+'"><img class="img-preview uploading" src="'+value.src+'">' +
                             '<div class="wrapper"><div class="loader-container-2">' +
                             '                         <div id="search-loader" class="loader-2"></div>\n' +
                             '                    </div>'+
                             '</div>'+
                             '  <div class="delete " onclick="deletePhoto('+i+')"><img style="height:50px" src="'+del+'"></div>'+
                             '</div>';



                $(".images").append($(itemBox));

            }

            function uploadPhoto(i,preset,cb){

                send(urls[i].file,preset,function (data) {
                    console.log(data);
                    var res=JSON.parse(data.target.response);
                    var url=res.url;
                    var offset='http://res.cloudinary.com/hn6nvsi2y'.length;
                    var imgPath= res.public_id;//url.slice(offset);
                    urls[i].path=imgPath;

                    console.log(urls);
                    cb(imgPath);

                })

            }



            var urls=[];
            function updatePreviews() {
                $(".images").empty();
                var del='../../static/images/delete.svg';
                urls.forEach(function (value,i) {
                    if(!value) return;

                     var itemBox ='<div class="card" id="preview-'+i+'"><img class="img-preview uploading" src="'+value.src+'">' +
                             '<div class="wrapper"><div class="loader-container-2">' +
                             '                         <div id="search-loader" class="loader-2"></div>\n' +
                             '                    </div>'+
                             '</div>'+
                             '  <div class="delete " onclick="deletePhoto('+i+')"><img style="height:50px" src="'+del+'"></div>'+
                             '</div>';



                    $(".images").append($(itemBox));
                })


            }


            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        addImage(e.target.result, input.files[0]);
                        var i=urls.length-1;
                        uploadPhoto(i,'big_image',function () {

                            $('#preview-'+i+' .img-preview').removeClass('uploading');
                            $('#preview-'+i+' .wrapper').hide();
                        });


                    }



                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });

            var URL_BASE=window.location.origin;
            function sendData(){

                var data={};
                data.name=$('#name').val();
                data.type='5'; //Estrategia
                data.description=$('#description').val();
                data.images=[];


                urls=urls.filter(function (data) {
                    return !!data;
                })

                urls.forEach(function (value,i) {



                    if(!value.path) {
                        console.log("no cargo la imagen",value,i);
                        return;
                    }

                    if(data.thumbnail==undefined    ){
                        console.log("aca",i);
                        data.thumbnail=i;
                    }
                    data.images.push(value.path);

                });
                console.log("images",urls);

                //Validaciones
                var msg=[];
                if(!data.name || !data.name.trim()){
                    msg.push("No completo el campo nombre");

                }
                if(urls.length==0){
                    msg.push("No ha seleccionado fotos");

                }
                if(!data.description){
                    msg.push("Debe colocar una descripción");
                }
                if (msg.length!=0){
                    $('#listaErrores').empty();
                    msg.forEach(function (value) {
                        var error='<li>'+value+'</li>';
                        $('#listaErrores').append($(error))
                    });


                    $('#exampleModal').modal('show');

                    return;
                }

                $('#snackbar').addClass('show');
                uploadPhoto(data.thumbnail,'thumbnail',function (imgPath) {
                    data.thumbnail=imgPath;
                    console.log("Data to be sent",data);

                    $.post(URL_BASE+"/catalogo/addEstrategia/",data )
                    .done(function (data) {

                        window.location = URL_BASE+"/catalogo/";
                        console.log("Suc",data);
                    })
                    .fail(function (err) {
                        console.log("Error",err);
                    })

                })






            }




        </script>


{% endblock %}