{% extends 'base.html' %}

{% block content %}
    {% verbatim  %}

    <link rel="stylesheet" type="text/css" href="../../static/css/estrategia.css">




    <div class="container" style="padding: 100px" id="vue-app">
        <h1>Nueva desarrollo</h1>

        <div class="estrategia item">

            <div class="form-group">
                <label for="name">Nombre de la estrategia</label>
                <input type="text" id="name" class="form-control form-control-lg " placeholder="" maxlength="30"
                       v-bind:class="getClass('name')"

                       name="username" v-model.trim="item.name" @input="$v.item.name.$touch()">
                <div class="invalid-feedback">
                    <p class="" v-if="!$v.item.name.required">El nombre es obligatorio.</p>
                    <p class="" v-if="!$v.item.name.maxLength">El nombre no puede tener mas de {{
                        $v.item.name.$params.maxLength.max }} caracteres.</p>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" rows="5" id="description" maxlength="150"
                          v-bind:class="getClass('description')"
                          @input="$v.item.description.$touch()" v-model.trim="item.description"></textarea>
                <div class="invalid-feedback">
                    <p class="" v-if="!$v.item.description.required">La descripción es obligatoria.</p>
                    <p class="" v-if="!$v.item.description.maxLength">La descripción no puede tener mas de {{
                        $v.item.description.$params.maxLength.max }} caracteres.</p>
                </div>
            </div>

            <div class="tech">
                <h2>Desarrollado con:</h2>
                <div class="tech-checks">

                    <label class="" v-for="tech in devTechs">
                        <input type="checkbox"/>
                        <span class="custom-control-description">{{ tech.name }}</span>
                    </label>


                </div>
            </div>


        </div>

        <h2>Imagenes</h2>

        <temp class="" v-bind:images="item.images"></temp>
        <div class="invalid-feedback" style="display: block" v-if="$v.item.images.$error">
            <p class="" v-if="!$v.item.images.required">Debe seleccionar almenos una imagen.</p>
        </div>


        <div id="files" class="files"></div>

        <button v-on:click="submit()" class="btn btn-outline-secondary btn-lg btn-block main-button">
            Guardar Estrategia
        </button>


        <div class="item-preview">
            <h1>Desarrollo Nuevo 20</h1>
            <p>Integer tincidunt ante vel ante blandit, nec pharetra risus pulvinar. Quisque tellus velit, lobortis non
                quam ac, eleifend volutpat dolor. Duis at pellentesque sem, ut viverra arcu. Praesent euismod lacinia
                nisl, sit amet auctor urna posuere eget. Nullam laoreet ullamcorper quam, eu porttitor nibh pulvinar ac.
                Phasellus sit amet mauris varius nulla fermentum consequat. Phasellus nec arcu ut justo elementum congue
                in sed dolor. Duis posuere suscipit mi et tempus. Nulla eros quam, tristique id risus nec, sollicitudin
                imperdiet neque. Fusce auctor semper gravida. Duis sagittis ligula vitae elit egestas placerat.</p>
            <div class="tech-imgs">
                <div v-for="tech in devTechs" class="card">
                    <img v-bind:src="tech.image">
                    <div class="footer">
                        <a style="color:#007bff" class="card-link">{{ tech.name }}</a>
                    </div>
                </div>

            </div>

            <div class="gallery" style="display: flex;">
                <!-- Images used to open the lightbox -->
                <div class="row">
                    <div>
                        <img v-for="(img, index) in mockImages" v-bind:src="img"
                             v-on:click="openGalleryModal();changeSlide(index)" >
                    </div>
                </div>


            </div>
        </div>


        <!-- The Modal/Lightbox -->
        <div id="galleryModal" class="gallery-modal">
            <span class="close cursor" @click="closeGalleryModal()">&times;</span>
            <div class="my-modal-content">
                <div class="slide " >
                    <div class="" style="height: 100%">
                        <img v-bind:src="mockImages[currentSlide]" style="height: 100%;max-width: 100%" class="fade-in" v-for="(img, index) in mockImages" v-if="index == currentSlide">
                        <div class="numbertext">{{ this.currentSlide+1 }} / {{ this.mockImages.length }}</div>
                    </div>
                    <div class="dots" >
                            <span class="dot" v-on:click="changeSlide(index)" v-for="(img,index) in mockImages" v-bind:class="{ active : index == currentSlide}"></span>
                    </div>
                </div>

                <a class="prev-btn" v-on:click="changeSlide(currentSlide-1)">&#10094;</a>
                <a class="next-btn" v-on:click="changeSlide(currentSlide+1)">&#10095;</a>


            </div>
            <div class="thumbnails">
                    <div class="thumbnail" v-for="(img, index) in currentImages" v-on:click="changeSlide( winStart + index)" v-bind:class="{ selected: index == currentSlide - winStart }">
                        <img class=" " v-bind:src="img" style="width:100%"
                             alt="Nature and sunrise">
                    </div>
            </div>

        </div>

    </div>

    <div id="snackbar">Guardando...</div>



    <script src="https://unpkg.com/vuelidate@0.6.2/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.6.2/dist/validators.min.js"></script>

    <script type="text/javascript" src='../../static/js/utils.js'></script>
    <script type="text/javascript" src='../../static/js/add.js'></script>

    <script type="text/javascript">
        /*
            for(var i=0;i<8;i++){
                var del='../../static/images/delete.svg';
                     var temp='<div class="card"><img class="img-preview" src="https://cdn.dopl3r.com/memes_files/carl-de-los-simpson-plantilla-8W5Pr.jpg">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>\n' +
                         '            <div  class="card"><img class="img-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYldI6HERUkLWu_3R9gy9wa6b5-sSehUwh75vc7Whayc2XbGxGOA">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>'



                    $(".images").append($(temp));
            }
    */
        function send(file, preset, cb) {
            var formData = new FormData();
            formData.append('upload_preset', preset);
            formData.append('file', file);
            var xhr = new XMLHttpRequest();
            xhr.onload = cb;

            xhr.addEventListener("progress", function (evt) {
                console.log("progress", evt);
                if (evt.lengthComputable) {
                    var percentage = (evt.loaded / evt.total) * 100;
                    console.log("pro", percentage);
                }
            }, false)


            xhr.open("post", "https://api.cloudinary.com/v1_1/hn6nvsi2y/image/upload");

            xhr.send(formData);


        }

        function deletePhoto(i) {
            urls[i] = null;
            $(".images #preview-" + i).remove();
        }

        function addImage(src, file) {
            var value = {src: src, file: file};
            urls.push(value);
            var i = urls.length - 1;
            var del = '../../static/images/delete.svg';
            var itemBox = '<div class="card" id="preview-' + i + '"><img class="img-preview uploading" src="' + value.src + '">' +
                '<div class="wrapper"><div class="loader-container-2">' +
                '                         <div id="search-loader" class="loader-2"></div>\n' +
                '                    </div>' +
                '</div>' +
                '  <div class="delete " onclick="deletePhoto(' + i + ')"><img style="height:50px" src="' + del + '"></div>' +
                '</div>';


            $(".images").append($(itemBox));

        }

        function _uploadPhoto(i, preset, cb) {

            send(urls[i].file, preset, function (data) {
                console.log(data);
                var res = JSON.parse(data.target.response);
                var url = res.url;
                var offset = 'http://res.cloudinary.com/hn6nvsi2y'.length;
                var imgPath = res.public_id;//url.slice(offset);
                urls[i].path = imgPath;

                console.log(urls);
                cb(imgPath);

            })

        }


        var urls = [];

        function updatePreviews() {
            $(".images").empty();
            var del = '../../static/images/delete.svg';
            urls.forEach(function (value, i) {
                if (!value) return;

                var itemBox = '<div class="card" id="preview-' + i + '"><img class="img-preview uploading" src="' + value.src + '">' +
                    '<div class="wrapper"><div class="loader-container-2">' +
                    '                         <div id="search-loader" class="loader-2"></div>\n' +
                    '                    </div>' +
                    '</div>' +
                    '  <div class="delete " onclick="deletePhoto(' + i + ')"><img style="height:50px" src="' + del + '"></div>' +
                    '</div>';


                $(".images").append($(itemBox));
            })


        }


        function _readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    addImage(e.target.result, input.files[0]);
                    var i = urls.length - 1;
                    uploadPhoto(i, 'big_image', function () {

                        $('#preview-' + i + ' .img-preview').removeClass('uploading');
                        $('#preview-' + i + ' .wrapper').hide();
                    });


                }


                reader.readAsDataURL(input.files[0]);
            }
        }

        /*
        $("#imgInp").change(function () {
            readURL(this);
        }); */

        var URL_BASE = window.location.origin;

        function sendData() {

            var data = {};
            data.name = $('#name').val();
            data.type = '5'; //Estrategia
            data.description = $('#description').val();
            data.images = [];


            urls = urls.filter(function (data) {
                return !!data;
            })

            urls.forEach(function (value, i) {


                if (!value.path) {
                    console.log("no cargo la imagen", value, i);
                    return;
                }

                if (data.thumbnail == undefined) {
                    console.log("aca", i);
                    data.thumbnail = i;
                }
                data.images.push(value.path);

            });
            console.log("images", urls);

            //Validaciones
            var msg = [];
            if (!data.name || !data.name.trim()) {
                msg.push("No completo el campo nombre");

            }
            if (urls.length == 0) {
                msg.push("No ha seleccionado fotos");

            }
            if (!data.description) {
                msg.push("Debe colocar una descripción");
            }
            if (msg.length != 0) {
                $('#listaErrores').empty();
                msg.forEach(function (value) {
                    var error = '<li>' + value + '</li>';
                    $('#listaErrores').append($(error))
                });


                $('#exampleModal').modal('show');

                return;
            }

            $('#snackbar').addClass('show');
            uploadPhoto(data.thumbnail, 'thumbnail', function (imgPath) {
                data.thumbnail = imgPath;
                console.log("Data to be sent", data);

                $.post(URL_BASE + "/catalogo/addEstrategia/", data)
                    .done(function (data) {

                        window.location = URL_BASE + "/catalogo/";
                        console.log("Suc", data);
                    })
                    .fail(function (err) {
                        console.log("Error", err);
                    })

            })


        }


    </script>

    {% endverbatim  %}
{% endblock %}