{% extends 'base.html' %}

{% block content %}
    {% verbatim  %}

    <link rel="stylesheet" type="text/css" href="../../static/css/estrategia.css">




    <div class="container" style="padding: 100px" id="vue-app">
        <div class="item-edit" v-if="editing">
            <h1>Nueva desarrollo</h1>

            <div class="estrategia item">

                <div class="form-group">
                    <label for="name">Nombre de la estrategia</label>
                    <input type="text" id="name" class="form-control form-control-lg " placeholder="" maxlength="20"
                           v-bind:class="getClass('name')"

                           name="username" v-model.trim="item.name" @input="$v.item.name.$touch()">
                    <div class="invalid-feedback">
                        <p class="" v-if="!$v.item.name.required">El nombre es obligatorio.</p>
                        <p class="" v-if="!$v.item.name.maxLength">El nombre no puede tener mas de {{
                            $v.item.name.$params.maxLength.max }} caracteres.</p>
                    </div>
                </div>

                <div class="form-group" style="position: relative">
                    <label for="description">Descripción:</label>
                    <textarea class="form-control" rows="5" id="description"
                              v-bind:class="getClass('description')"
                              @input="$v.item.description.$touch()" v-model.trim="item.description"></textarea>
                    <div style="text-align: right">{{ item.description.length }}/{{ $v.item.description.$params.maxLength.max }}</div>
                    <div class="invalid-feedback">
                        <p class="" v-if="!$v.item.description.required">La descripción es obligatoria.</p>
                        <p class="" v-if="!$v.item.description.maxLength">La descripción no puede tener mas de {{
                            $v.item.description.$params.maxLength.max }} caracteres.</p>
                    </div>
                </div>

                <div class="tech">
                    <h2>Desarrollado con:</h2>
                    <div class="tech-checks">

                        <label class="" v-for="tech in devTechs">
                            <input type="checkbox" :value="tech" v-model="item.devTechs"/>
                            <span class="custom-control-description">{{ tech.name }}</span>
                        </label>
                        <div class="invalid-feedback" style="display: block" v-if="$v.item.devTechs.$error">
                            <p class="" v-if="!$v.item.devTechs.required">Debe seleccionar almenos un elemento.</p>
                        </div>


                    </div>
                </div>


            </div>

            <h2>Imagenes</h2>

            <temp class="" v-bind:images="item.images" ></temp>

            <div class="invalid-feedback" style="display: block" v-if="$v.item.images.$error">
                <p class="" v-if="!$v.item.images.required">Debe seleccionar almenos una imagen.</p>
                <p class="" v-if="$v.item.images.required && !$v.item.images.$each.errors">Debe esperar a que todas las imagenes sean subidas.</p>
            </div>



            <div style="display: flex;flex-wrap: wrap;justify-content: space-between">
                <button v-on:click="showPreview()" class="btn btn-outline-secondary btn-lg  main-button " style="margin-bottom: 1em;margin-top:1em;flex-basis: 48%" >
                    Vista previa
                </button>
                <button v-on:click="submit()" class="btn btn-outline-secondary btn-lg main-button  "  style="margin-bottom: 1em;margin-top:1em;flex-basis: 48%" >
                    Enviar a revisión
                </button>

                <button v-on:click="submit()" class="btn btn-outline-secondary btn-lg btn-block main-button" style="flex-basis: 100%;margin-bottom:1em" >
                Guardar Cambios
                </button>
            </div>


        </div><!-- Fin editar item -->

        <!-- preview item -->

        <div class="item-preview" v-if="!editing">
            <div style="display: flex;flex-wrap: wrap">
                <button v-on:click="showEditMode()" class="btn btn-outline-secondary btn-lg btn-block main-button" style="flex-grow: 1;">
                    Regresar a modo de edición
                </button>
            </div>
            <h1>{{ item.name }}</h1>

            <p>{{ item.description }}</p>

            <div class="tech-imgs">
                <div v-for="tech in item.devTechs" class="card">
                    <img v-bind:src="tech.image">
                    <div class="footer">
                        <a style="color:#007bff" class="card-link">{{ tech.name }}</a>
                    </div>
                </div>

            </div>

            <h2>Imagenes </h2>

            <div class="gallery">
                <!-- Images used to open the lightbox -->

                <div>
                    <div v-for="(img, index) in item.images" class="card"
                         v-on:click="openGalleryModal();moveCarousel(  index)">
                        <img src="../../static/images/zoom_in.png"
                             style="position:absolute;right:0.6em;bottom:0.6em;height: 2em;">
                        <img v-bind:src="img.src"       >


                    </div>

                </div>


            </div>
        </div>


        <!-- The Modal/Lightbox -->
        <div id="galleryModal" class="gallery-modal">
            <span class="close cursor" @click="closeGalleryModal()">&times;</span>

            <div class="my-modal-content fade-in">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" v-for="(img, index) in item.images"
                            v-on:click="moveCarousel(index)" style="height: 6px"
                            v-bind:class="{ active : index == 0}">
                        </li>
                    </ol>

                    <div class="carousel-inner" role="listbox" style="height: 100%">
                        <div class="carousel-item " v-for="(img, index) in item.images"
                             v-bind:class="{ active: index == 0}" style="text-align: center;height: inherit">
                            <img class="" v-bind:src="img.src" alt="First slide" style="height: 100%;max-width: 100%">
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

            <div class="thumbnails">
                <div class="thumbnail" v-for="(img, index) in currentImages"
                     v-on:click="moveCarousel( winStart + index)"
                     v-bind:class="{ selected: index == currentImage - winStart }">
                    <img class=" " v-bind:src="img.src" style="width:100%"
                         alt="Nature and sunrise">
                </div>
            </div>

        </div>

    </div>

    <div id="snackbar">Guardando...</div>



    <script src="https://unpkg.com/vuelidate@0.6.2/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.6.2/dist/validators.min.js"></script>

    <script type="text/javascript" src='../../static/js/utils.js'></script>
    <script type="text/javascript" src='../../static/js/add.js'></script>

    <script type="text/javascript">
        /*
            for(var i=0;i<8;i++){
                var del='../../static/images/delete.svg';
                     var temp='<div class="card"><img class="img-preview" src="https://cdn.dopl3r.com/memes_files/carl-de-los-simpson-plantilla-8W5Pr.jpg">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>\n' +
                         '            <div  class="card"><img class="img-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYldI6HERUkLWu_3R9gy9wa6b5-sSehUwh75vc7Whayc2XbGxGOA">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>'



                    $(".images").append($(temp));
            }
    */
        function send(file, preset, cb) {
            var formData = new FormData();
            formData.append('upload_preset', preset);
            formData.append('file', file);
            var xhr = new XMLHttpRequest();
            xhr.onload = cb;

            xhr.addEventListener("progress", function (evt) {
                console.log("progress", evt);
                if (evt.lengthComputable) {
                    var percentage = (evt.loaded / evt.total) * 100;
                    console.log("pro", percentage);
                }
            }, false)


            xhr.open("post", "https://api.cloudinary.com/v1_1/hn6nvsi2y/image/upload");

            xhr.send(formData);


        }

        function deletePhoto(i) {
            urls[i] = null;
            $(".images #preview-" + i).remove();
        }

        function addImage(src, file) {
            var value = {src: src, file: file};
            urls.push(value);
            var i = urls.length - 1;
            var del = '../../static/images/delete.svg';
            var itemBox = '<div class="card" id="preview-' + i + '"><img class="img-preview uploading" src="' + value.src + '">' +
                '<div class="wrapper"><div class="loader-container-2">' +
                '                         <div id="search-loader" class="loader-2"></div>\n' +
                '                    </div>' +
                '</div>' +
                '  <div class="delete " onclick="deletePhoto(' + i + ')"><img style="height:50px" src="' + del + '"></div>' +
                '</div>';


            $(".images").append($(itemBox));

        }

        function _uploadPhoto(i, preset, cb) {

            send(urls[i].file, preset, function (data) {
                console.log(data);
                var res = JSON.parse(data.target.response);
                var url = res.url;
                var offset = 'http://res.cloudinary.com/hn6nvsi2y'.length;
                var imgPath = res.public_id;//url.slice(offset);
                urls[i].path = imgPath;

                console.log(urls);
                cb(imgPath);

            })

        }


        var urls = [];

        function updatePreviews() {
            $(".images").empty();
            var del = '../../static/images/delete.svg';
            urls.forEach(function (value, i) {
                if (!value) return;

                var itemBox = '<div class="card" id="preview-' + i + '"><img class="img-preview uploading" src="' + value.src + '">' +
                    '<div class="wrapper"><div class="loader-container-2">' +
                    '                         <div id="search-loader" class="loader-2"></div>\n' +
                    '                    </div>' +
                    '</div>' +
                    '  <div class="delete " onclick="deletePhoto(' + i + ')"><img style="height:50px" src="' + del + '"></div>' +
                    '</div>';


                $(".images").append($(itemBox));
            })


        }


        function _readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    addImage(e.target.result, input.files[0]);
                    var i = urls.length - 1;
                    uploadPhoto(i, 'big_image', function () {

                        $('#preview-' + i + ' .img-preview').removeClass('uploading');
                        $('#preview-' + i + ' .wrapper').hide();
                    });


                }


                reader.readAsDataURL(input.files[0]);
            }
        }

        /*
        $("#imgInp").change(function () {
            readURL(this);
        }); */

        var URL_BASE = window.location.origin;

        function sendData() {

            var data = {};
            data.name = $('#name').val();
            data.type = '5'; //Estrategia
            data.description = $('#description').val();
            data.images = [];


            urls = urls.filter(function (data) {
                return !!data;
            })

            urls.forEach(function (value, i) {


                if (!value.path) {
                    console.log("no cargo la imagen", value, i);
                    return;
                }

                if (data.thumbnail == undefined) {
                    console.log("aca", i);
                    data.thumbnail = i;
                }
                data.images.push(value.path);

            });
            console.log("images", urls);

            //Validaciones
            var msg = [];
            if (!data.name || !data.name.trim()) {
                msg.push("No completo el campo nombre");

            }
            if (urls.length == 0) {
                msg.push("No ha seleccionado fotos");

            }
            if (!data.description) {
                msg.push("Debe colocar una descripción");
            }
            if (msg.length != 0) {
                $('#listaErrores').empty();
                msg.forEach(function (value) {
                    var error = '<li>' + value + '</li>';
                    $('#listaErrores').append($(error))
                });


                $('#exampleModal').modal('show');

                return;
            }

            $('#snackbar').addClass('show');
            uploadPhoto(data.thumbnail, 'thumbnail', function (imgPath) {
                data.thumbnail = imgPath;
                console.log("Data to be sent", data);

                $.post(URL_BASE + "/catalogo/addEstrategia/", data)
                    .done(function (data) {

                        window.location = URL_BASE + "/catalogo/";
                        console.log("Suc", data);
                    })
                    .fail(function (err) {
                        console.log("Error", err);
                    })

            })


        }


    </script>

    {% endverbatim  %}
{% endblock %}