{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/estrategia.css' %}">




    <div class="container" style="padding: 100px ">
    <h1>Nueva estrategia pedagógica</h1>

    <div class="estrategia">

            <div class="form-group">
                <label for="name">Nombre de la estrategia</label>
                <input type="text" id="username" class="form-control form-control-lg" placeholder="Username"
                                                   name="username" value="ds">
            </div>
            <div class="form-group">
                    <label for="comment">Descripción:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>



    </div>

    <h1>Imagenes</h1>
     <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Agregar imagen...</span>
        <input id="imgInp" type="file" class="upload-button">
    </span>




        <div class="images" style="display: flex;flex-wrap:wrap; justify-content:center">


        </div>





        <div id="files" class="files"></div>

        <button type="submit" class="btn btn-outline-secondary btn-lg btn-block main-button">Guardar</button>

        </div>

        <script type="text/javascript">
            for(var i=0;i<8;i++){
                var del='../../static/images/delete.svg';
                     var temp='<div class="card"><img class="img-preview" src="https://cdn.dopl3r.com/memes_files/carl-de-los-simpson-plantilla-8W5Pr.jpg">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>\n' +
                         '            <div  class="card"><img class="img-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYldI6HERUkLWu_3R9gy9wa6b5-sSehUwh75vc7Whayc2XbGxGOA">' +
                             '<div style="position:absolute;bottom:-25px;right:-25px;opacity:0.7"><img style="height:50px" src="'+del+'"></div>'+
                         '</div>'



                    $(".images").append($(temp));
            }

            function  send(file) {
                var formData = new FormData();
                formData.append('upload_preset','thumbnail');
                formData.append('file',file);
                 var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    console.log("sucess",this);
                };

                xhr.addEventListener("progress",function (evt) {
                     console.log("progress",evt);
                     if(evt.lengthComputable){
                        var percentage= (evt.loaded/evt.total) * 100 ;
                        console.log("pro",percentage);
                    }
                },false)


                xhr.open("post", "https://api.cloudinary.com/v1_1/hn6nvsi2y/image/upload");

                xhr.send(formData);


            }

            var urls=[];
            function updatePreviews() {
                $(".images").empty();

                urls.forEach(function (value,i) {

                     var itemBox = '<div class="col-sm-3">' +
                        '<div class="card">' +
                        '<div class="card-img">' +
                        '<img src="'+value.src+'">' +
                        '</div>' +

                        '<div class="card-body">' +
                        '<h4 class="card-title">' + 'ds' +'</h4>' +
                        '<p class="card-text">' +
                         'dsd'+
                        '</p>' +
                        '</div>' +
                        '<div class="card-footer">' +
                        '<a href="" class="card-link">Ver mas</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                     var temp='<div ><img style="height: 12em" src="https://cdn.dopl3r.com/memes_files/carl-de-los-simpson-plantilla-8W5Pr.jpg"></div>\n' +
                         '            <div ><img style="height: 12em" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYldI6HERUkLWu_3R9gy9wa6b5-sSehUwh75vc7Whayc2XbGxGOA"></div>'



                    $(".images").append($(temp));
                })






            }

            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        urls.push({src: e.target.result, file: input.files[0]});
                        updatePreviews();


                    }



                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });




        </script>


{% endblock %}