{% extends 'base.html' %}

{% block content %}
    <!-- header -->
    <header class="header ">
        <div class="overlayed">
            <div class="container">
                <div class="description ">
                    <h1>
                        <b>
                            Bienvenido al catálogo de conocimiento

                            <p>
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </b>
                        <button id="verCatalogo" class="btn btn-outline-secondary btn-lg" data-value="blog" href="#">Ver
                            catálogo
                        </button>
                    </h1>
                </div>
            </div>
        </div>
    </header>




    <!-- Catálogo -->
    <div class="blog" id="blog">
        <div class="container">
            <h1 class="text-center">Catálogo</h1>
            <!-- Barra de busqueda -->
            <form  class="row form-inline  justify-content-center" style="margin-bottom:4em">

                <select class="form-control col-sm-3 mr-1" id="idCategoria" style="">
                    <option value="-1">Todas las categorias</option>
                    <option value="1">Tecnologia</option>
                    <option value="2">Herramienta</option>
                    <option value="3">Tutorial</option>
                    <option value="4">Ejemplo</option>

                </select>


                <input type="text" id="nombrePromocion" name="nombrePromocion" class="form-control col-sm-5"
                       placeholder="">


                <button class="btn btn-outline-secondary main-button  col-sm-3 ml-1" onclick="buscarCatalogo(event)">Buscar</button>

            </form>
            <div class="loader-container">
                <div id="search-loader" class="loader"></div>
            </div>

            <div id="noResults" class="alert alert-info " role="alert" style="display: none">
                <strong>No se encontraron resultados!</strong>
            </div>
            <div class="search-results">

                <!-- 3 items por fila -->
            </div>

            <ul class="pagination justify-content-center pagination-lg mt-4" id="paginador">

            </ul>


        </div>


    </div>

    <script>
        var URL_BASE=window.location.origin;
        var catalogo;
        var paginaActual=1;
        var numPaginas;
        var ITEMS_POR_PAG=6;
        function buscarElementos(tipo, nombreElemento,scroll) {
            $("#noResults").hide();
            $(".search-results").removeClass("smooth")
            $(".search-results").css({'opacity':0});
            $(".loader-container").show();
            $("#paginador").empty();

            $.getJSON(URL_BASE+"/catalogo/searchItems",{type: tipo,name: nombreElemento }).done(function (data) {
                $(".loader-container").hide();
                if( data.length == 0) {
                    $("#noResults").show();
                    return;
                }


                console.log(data);


                catalogo=data;

/*
                Array.prototype.push.apply(data, data)

                data.push(data[data.length-1]);
                data.push(data[data.length-1]);

                Array.prototype.push.apply(data, data)
                Array.prototype.push.apply(data, data)
                Array.prototype.push.apply(data, data)

                data.push(data[data.length-1]);
                data.push(data[data.length-1]);
                data.push(data[data.length-1]);

                */

                numPaginas=Math.round( data.length/ITEMS_POR_PAG +0.49);

                    mostrarElementos(data,1);
                mostrarPaginador(numPaginas);

                $(".search-results").addClass("smooth");
                $(".search-results").css({'opacity':1});


                console.log("scroll",$('.item-row').first().offset().top, $('.item-row').last().offset().top);
                if(scroll){
                    $("body,html").animate({
                        scrollTop: $('#nombrePromocion').first().offset().top
                    },1000)
                }



            })
        }

        buscarElementos(null,null,false);

        function buscarCatalogo(e){
            e.preventDefault();
            var nombre=$("#nombrePromocion").val();
            var tipo=$("#idCategoria").val();
            buscarElementos(tipo,nombre,true);


        }

        function mostrarElementos(elementos,pagina) {
                $(".search-results").empty();
                var _itemRow = '<div class="row item-row"> </div> ';
                var itemRow = $(_itemRow);


                var offset= ITEMS_POR_PAG*(pagina-1) ;

            //console.log(elementos,offset);

                for(var i=0 ;i<6 && i+offset<elementos.length;i++){

                    var item=elementos[offset+i];




                    var _itemBox = '<div class="col-md-4 col-lg-4 col-sm-12">' +
                        '<div class="card">' +
                        '<div class="card-img">' +
                        '<img src="https://res.cloudinary.com/hn6nvsi2y/' + item.fields.thumbnail + '">' +
                        '</div>' +

                        '<div class="card-body">' +
                        '<h4 class="card-title">' + item.fields.name + '</h4>' +
                        '<p class="card-text">' +
                        item.fields.description +
                        '</p>' +
                        '</div>' +
                        '<div class="card-footer">' +
                        '<a href="" class="card-link">Ver mas</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>';


                    var itemBox = $(_itemBox);
                    itemRow.append(itemBox);

                    if ((i != 0) && (i + 1) % 3 == 0 || i+offset == elementos.length - 1) {
                        $(".search-results").append(itemRow);
                        itemRow = $(_itemRow);
                    }

                }




        }


         /** index 1 .. n
          * */
        function cambiarAPag(index) {
            console.log("index",index);
            paginaActual=index;
            mostrarElementos(catalogo,index);
        }

        function irAPagAnterior() {
            if(paginaActual==1) return;
            cambiarAPag(paginaActual-1);

        }

        function irAPagSiguiente() {
            if(paginaActual==numPaginas) return;
            cambiarAPag(paginaActual+1);

        }

        function mostrarPaginador(numPags) {

            var _previous='<li class="page-item" onclick="irAPagAnterior()">\n' +
                '                    <a class="page-link"   aria-label="Previous">\n' +
                '                        <span aria-hidden="true">&laquo;</span>\n' +
                '                        <span class="sr-only">Previous</span>\n' +
                '                    </a>\n' +
                '                </li>';

            $("#paginador").append( $(_previous));


            for(var i=1;i<=numPags;i++){
                var _boton='<li class="page-item"><a class="page-link"  onclick="cambiarAPag('+i+')">'+i+'</a></li>';
                $("#paginador").append($(_boton));
            }



            var _next='<li class="page-item" onclick="irAPagSiguiente()">\n' +
                '                    <a class="page-link" aria-label="Next" >\n' +
                '                        <span aria-hidden="true">&raquo;</span>\n' +
                '                        <span class="sr-only">Next</span>\n' +
                '                    </a>\n' +
                '                </li>';

            $("#paginador").append( $(_next));

        }












    </script>



{% endblock %}