{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/equipo.css' %}">
    <script type="text/javascript" src='{% static '/js/utils.js' %}'></script>
    <script>
        window.memberInfo = {
         id: {{ member.pk }},
         avatarUrl:  window.utils.getImageUrl('{{ CLOUDINARY_NAME }}', '{{ member.image.public_id }}'), //'https://byuc.files.wordpress.com/2012/07/avat-2.jpg',
         description: '{{ member.description }}',
         name: '{{ member.name }}',
         email: '{{ member.email }}',
         profile: '{{ member.profile }}',
         phone_extension: '{{ member.phone_extension }}',
         tools: [],
         areas: [],
         projects: []
        }

        console.log('mem', '{{ member.image.public_id }}');

         {% for tool in member.tools.all %}
             window.memberInfo.tools.push({
                name: '{{tool.name }}',
                type: '{{ tool.type }}',
                item_code: '{{ tool.item_code }}',
                url: window.utils.getItemLink('{{ tool.item_code }}', '{{ tool.type }}' )

             });
        {% endfor %}

        {% for area in member.experience_areas.all %}
             window.memberInfo.areas.push(                 '{{  area.name }}' );
        {% endfor %}

        {% for project in member.projects.all %}
             window.memberInfo.projects.push(    {
                 name: '{{  project.name }}',
                 description: '{{  project.description }}'
             }   );
        {% endfor %}




    </script>

    {% verbatim  %}

    <div id="vue-app">
        <div class="about" id="about" style="margin-top: 10em">
            <div class="container">
                <div class="row">
                    <div class="image-area col-lg-4 col-md-4 col-sm-12 ">
                        <img v-bind:src="currentMember.avatarUrl" class="img-fluid">
                        <span >{{ currentMember.profile }}</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 desc">

                        <h1 id="name">{{ currentMember.name }}</h1>
                        <p id="description">
                           {{ currentMember.description }}
                        </p>
                        <h4>Herramientas que domina</h4>
                        <ul id="tools">
                            <li v-for="tool in currentMember.tools"><a :href="tool.url">{{ tool.name }}</a></li>
                        </ul>
                        <h4>Areas de experiencia</h4>
                        <ul id="experience">
                            <li v-for="area in currentMember.areas">{{ area }}</li>
                        </ul>
                        <h4>Proyectos en los que ha trabajado</h4>
                        <ul id="projects">
                            <li v-for="project in currentMember.projects"><span class="project-name">{{ project.name }}</span> - <span class="project-des">{{ project.description }}</span></li>

                        </ul>
                        <h4>Contacto</h4>
                        <ul >
                            <li>Email: <span id="email">{{ currentMember.email }}</span></li>
                            <li>Extension: <span id="extension">{{ currentMember.phone_extension }}</span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endverbatim  %}

    <script   type="text/javascript" src="{% static '/js/team.js' %}"></script>

{% endblock  %}