{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/equipo.css' %}">



    {% verbatim  %}

    <div id="vue-app">
        <div class="about" id="about" >
            <div class="container">
                <div class="row">
                    <div class="image-area col-lg-4 col-md-4 col-sm-12 ">
                        <img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="img-fluid">
                        <span >Miembro de conectate</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 desc">

                        <h1 id="name">{{ currentMember.name }}</h1>
                        <p id="description">
                           {{ currentMember.description }}
                        </p>
                        <h4>Herramientas que domina</h4>
                        <ul id="tools">
                            <li v-for="tool in currentMember.tools"><a :href="tool.url">{{ tool.name }}</a></li>
                        </ul>
                        <h4>Areas de experiencia</h4>
                        <ul id="experience">
                            <li v-for="area in currentMember.areas">{{ area }}</li>
                        </ul>
                        <h4>Proyectos en los que ha trabajado</h4>
                        <ul id="projects">
                            <li v-for="project in currentMember.projects"><span class="project-name">{{ project.name }}</span> - <span class="project-des">{{ project.description }}</span></li>

                        </ul>
                        <h4>Contacto</h4>
                        <ul >
                            <li>Email: <span id="email">{{ currentMember.email }}</span></li>
                            <li>Extension: <span id="extension">{{ currentMember.extension }}</span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endverbatim  %}

    <script   type="text/javascript" src="{% static '/js/team.js' %}"></script>
{% endblock  %}