{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <br>
            <br>
            <br>
            <div class="page-header">
                <h2>Aqui va el formulario de registro.</h2>
            </div>
            <!--<form method="post" action="">
                {#% csrf_token %#}
                {#% bootstrap_form form %#}
                {#% buttons %#}
                <input type="submit" value="Registrar" class="btn btn-primary">-->
                <!--<a href="{% url 'catalogo:index' %}" class="btn btn-primary">Cancelar</a>
                {#% endbuttons %#}
            </form>-->
        </div>
    </div>
{% endblock %}
