{% extends 'base.html' %}

{% block content %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        window.CLOUDINARY_NAME = '{{ CLOUDINARY_NAME }}'
    </script>

    <!-- header -->
    <header class="header ">
        <div class="overlayed">
            <div class="container">
                <div class="description ">
                    <h1>
                        <b>
                            Gestion de Taxonomias

                            <p>
                                Aqui podrá crear o modificar taxonomias existentes.</p>
                        </b>
                            <a id="crearTaxonomia" class="btn btn-outline-secondary btn-lg" href="{% url 'catalogo:crearTaxonomia' %}" style="width: 10em">Crear Taxonomia
                            </a>
                        <a id="modificarTaxonomias" class="btn btn-outline-secondary btn-lg"
                           href="{% url 'catalogo:modificarTaxonomia' %}" style="width: 10em">Modificar Taxonomias
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
	{% verbatim  %}

    <script type="text/javascript" src='../../static/js/utils.js'></script>
    <script type="text/javascript" src='../../static/js/index.js'></script>



{% endverbatim  %}
{% endblock %}