
{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <div class="login-container">
        <div class="overlayed">

            <div class="login-area">
                <h1>Agregar Tutoriales</h1>
                <div class="container" style="margin-top:10em">
                    <form id="formAddTutorial" enctype="multipart/form-data" method="post">

                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Nombre del tutorial</label>
                            <input required type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="url">URL del tutorial</label>
                            <input required type="text" class="form-control" id="url" name="url" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción del tutorial:</label>
                            <textarea class="form-control" rows="5" id="description" name="description" maxlength="150"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="tool">Herramienta</label>
                                <select required class="form-control" id="tool" name="tool">
                                    <option disabled selected value>Seleccione una herramienta</option>
                                    {% for entry in tools %}
                                        <option value="{{ entry.fields.tool }}">{{ entry.fields.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn  main-button">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    var URL_BASE=window.location.origin;

    $('#formAddTutorial').submit(function (e) {
        e.preventDefault();

        var formData = new FormData($("#formAddTutorial")[0]);
        formData.append('type','3')
        formData.append('thumbnail','')
        formData.append('images',[])
        $.ajax({
            url: URL_BASE+"/catalogo/addEstrategia/",
            type: $(this).attr('method'),
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function(){window.location.reload()}
        });
    });
</script>
{% endblock %}